@import '../../../variables.scss';

.generic-button {
  outline: none;
  border: 1px $color-blue solid;
  border-radius: 0.5rem;
  background-color: $color-blue-transparent-7;
  padding: 0.5rem 1.25rem;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
  }
  &:active {
    background-color: $color-blue-dark;
  }
}
