$color-blue-dark: rgb(40, 158, 255);
$color-blue: rgb(57, 166, 255);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-gray-transparent-3: rgba(138, 136, 136, 0.3);

$color-blue-transparent-7: rgb(67, 171, 255, 0.7);
$color-blue-transparent-3: rgb(67, 171, 255, 0.3);